div{
    width: 200px;
    height: 200px;
    /* rgb(red, green, blue*/
    /*rgb(255,255,255)*/
    background-color: rgb(238, 129, 89);
    border: 4px solid blueviolet;
    margin: 20px auto;
    padding: 15px;
}

#div2{

    width: 200px;
    height: 200px;
    /*Opacity b/w 0-1*/
     /*rgb(255,255,255,opacity)*/
    background-color: rgba(224, 221, 53, 0.3);

}