div{
    width: 200px;
    height: 200px;
    /* rgb(red, green, blue*/
    /*rgb(255,255,255)*/
    background-color: rgb(238, 129, 89);
    border: 4px solid blueviolet;
}

#div2{

    width: 200px;
    height: 200px;
    /*Opacity b/w 0-1*/
    background-color: rgb(238, 129, 89);

}