div{
    width: 300px;
    height: 50px;
    /* rgb(red, green, blue*/
    /*rgb(255,255,255)*/
    background-color: rgb(133, 255, 192);
    border: 4px solid rgb(0, 0, 0);
    margin: 20px auto;
    padding: 35px;
    display: flex;
    width: 100%;
}

div p{
    color: rgb(173, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

#div2{

    width: 300px;
    height: 50px;
    color: rgb(173, 0, 0);
    /*Opacity b/w 0-1*/
     /*rgb(255,255,255,opacity)*/
     border: 4px solid rgb(0, 0, 0);
    background-color: rgba(224, 221, 53, 0.3);
    padding: 35px;

}

#div3{

    width: 300px;
    height: 50px;
    color: rgb(173, 0, 0);
    /*Opacity b/w 0-1*/
     /*rgb(255,255,255,opacity)*/
     border: 4px solid rgb(0, 0, 0);
     border-width: 4px 8px;
    background: linear-gradient(to right, #fff00f, #faa, #fe6f65);
    border-radius: 18px;
    padding: 35px;
    border-style: dotted dashed;

}


div p{
    border: 4px solid black;
}

#div2 p{
    border: 4px solid black;
}
#div3 button{
     border: 4px solid black;
}