div{
    width: 200px;
    height: 200px;
    /* rgb(red, green, blue*/
    /*rgb(255,255,255)*/
    background-color: rgb(238, 129, 89);
    border: 4px solid blueviolet;
    margin: 20px auto;
    padding: 35px;
}

p{
    color: rgb(219, 255, 243);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

#div2{

    width: 200px;
    height: 200px;
    /*Opacity b/w 0-1*/
     /*rgb(255,255,255,opacity)*/
     border: 4px solid blueviolet;
    background-color: rgba(224, 221, 53, 0.3);
    padding: 50px;

}

#div3{

    width: 200px;
    height: 200px;
    /*Opacity b/w 0-1*/
     /*rgb(255,255,255,opacity)*/
     border: 4px solid rgb(151, 123, 208);
     border-width: 4px 8px;
    background: linear-gradient(to right, #fff00f, #faa, #fe6f65);
    border-radius: 18px;
    padding: 15px;
    border-style: dotted dashed;

}